<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_login</title>
</head>
<!-- ヘッダー -->
<header>
    <div class="container">
        <!-- <img src="" width="80" height="80" alt="top_image"> -->
        <h1>Raccoon's Kitchen</h1>
        <table>
            <tr>
                <th><a class="btn" href="/new_login">Sign up /</a></th>
                <th>
                    <a class="btn" href="/menu">Bentou /</a>
                </th>
                <th>
                    <a class="btn" href="/user_info">user info</a>
                </th>
            </tr>
        </table>
    </div>
</header>

<body>

</body>

</html>
